
body{
  background-image: url('wood.png');
  background-color: #cccccc;
  font-size: 50;
  color: black;
  font-style: strong;
}
h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-stretch: expanded;
  color: black;}
h2{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-stretch: expanded;
  color: black;
}
p{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-stretch: expanded;
  color: black;
}
li{
  text-align: center;
  list-style-position: outside;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  border-radius: 5px;
  width: 200px;
}
